.main-info-text {
	margin: 0px 0px 15px 0px;
	font-size: 16px;
	font-weight: 400;
}

.work-title {
	font-size: 22px;
}

.specialization-works {
	display: flex;
	justify-content: space-between;
}

.work-type {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 15px;
	padding: 0px 10px 0px 20px;
	width: 340px;
	height: 70px;
	border: 1px solid rgb(72 72 72);
	border-radius: 15px;
	background-color: rgb(93 93 93 / 50%);
	overflow: hidden;
	position: relative;
}

.work-image-web,
.work-image-js {
	width: 50px;
	height: auto;
	user-select: none;
}
