#wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	color: #fafafa;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

#background {
	background: no-repeat center/cover url('../../public/assets/bg.jpg');
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
}

.main-block {
	position: absolute;
	display: flex;
	justify-content: space-between;
	top: calc(50% - 300px);
	right: 16%;
	width: 80%;
	max-width: 1090px;
	height: 600px;
	background-color: rgba(30, 30, 31, 0.95);
	outline: 4px solid rgba(80, 80, 80, 0.4);
	box-shadow: 0px 0px 40px 20px rgb(41 41 41 / 50%);
	border-radius: 2rem;
	color: aliceblue;
	overflow: hidden;
}

.main-separator {
	height: 600px;
	width: 1px;
	background-color: #333333;
}

.main-block-info {
	position: relative;
	width: 70%;
	height: 100%;
	padding: 10px 22px 0px 0px;
}

.main-title {
	font-size: 22px;
	color: #fefefe;
	margin-top: 15px;
	width: max-content;
}

.main-title-p {
	margin: 0;
}

.info-separator {
	background: #525252;
	width: 6%;
	height: 5px;
	border-radius: 10px;
	margin: 10px 0px 20px 0px;
}

.render-content {
	height: 88%;
	padding-bottom: 100px;
	overflow-y: auto;
	scrollbar-width: none;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 4s ease-in-out;
}

.fade-exit {
	opacity: 1;
}

.fade-exit-active {
	opacity: 0;
	transition: opacity 4s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 1365px) {
	.main-block {
		right: 18%;
		max-width: 890px;
	}

	.main-block-info {
		width: 61%;
	}

	.info-separator {
		width: 7%;
	}
}

@media (max-width: 1115px) {
	.main-block {
		right: 5%;
		width: 90%;
	}

	.main-block-info {
		width: 60%;
		padding: 0px 15px 0px 0px;
	}

	.main-title {
		font-size: 20px;
	}

	.info-separator {
		width: 7%;
	}
}

@media (max-width: 988px) {
	.main-block-info {
		width: 60%;
		padding: 0px 15px 0px 0px;
	}

	.info-separator {
		width: 8%;
	}
}

@media (max-width: 768px) {
	.main-block {
		flex-direction: column;
		right: 10%;
		width: 80%;
		top: 5%;
		height: 800px;
	}

	.main-block-info {
		width: 90%;
		left: 5%;
		height: 84%;
	}

	.main-separator-div {
		margin: 0px 0px;
	}

	.main-separator {
		width: 100%;
		height: 3px;
	}

	.render-content {
		height: 80%;
	}

	.main-title {
		font-size: 22px;
	}
}

@media (max-width: 576px) {
	.main-block-info {
		left: 6%;
	}

	.info-separator {
		width: 10%;
	}
}

@media (max-width: 435px) {
	.main-block-info {
		left: 5%;
	}

	.info-separator {
		width: 13%;
	}

	.main-title {
		font-size: 20px;
	}
}

@media (max-width: 376px) {
	.main-title {
		font-size: 18px;
	}

	.info-separator {
		height: 4px;
		margin: 5px 0px 20px 0px;
	}
}
